body, h1, h2, p, ul, li, a{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222222;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

.menu{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color: #3C2B24;
}

.menu-logo img{
    margin: 0 10px;
    width: 50px;
    height: 50px;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;  
}

.menu-nav a{
    font-size: 1.1em;
    display: block;
    padding: 20px;
}

.menu-nav a:after{
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #774F41;;
    margin-top: 4px;
    transition: 0.3s;
}

.menu-nav a:hover:after{
    width: 100%;
}

.menu-nav a:hover{
    color: #774F41;
}

.menu-hamburguer, .mobile-menu{
    display: none;
}

@media (max-width: 730px){
    .menu-nav{
        display: none;
    }

    .menu-hamburguer{
        display: block;
    }

    .menu-hamburguer button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile.menu .menu-nav{
        display: block;
        padding-top: 1.2rem;
    }

    .abrir{
        display: block;
    }
}

.slogan{
    border-top: 2px solid #EF7A4C;
    border-bottom: 2px solid #EF7A4C;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.slogan-info{
    flex: 2;
    margin: 0 10px;
    flex: 2 1 300px;
}

.slogan-info h1{
    font-size: 3em;
    margin-bottom: .5em;
}

.slogan-info p{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 2em;
    color: #7c7c7c;
}

.slogan-img{
    flex: 1 1 160px;
    margin: 10px ;
}

@media(max-width: 500px)
{
    .slogan-img{
        display: none;
    }
}

.como-funciona{
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

.como-funciona h1{
    font-size: 3em;
    margin-bottom: .5em;
}

.item-etapa{
    flex: 1 1 300px;
    margin: 20px 10px;
}

.item-etapa h2{
    font-size: 1.5em;
    color: #a4a4a4;
    margin-bottom: 20px;
}

.item-etapa img{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.item-etapa p{
    font-size: 1.25em;
    line-height: 1.4;
    color: #7c7c7c;
}

.eventos{
    border-top: 2px solid #EF7A4C;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.eventos h1{
    margin-bottom: 1em;
}

.evento1 {
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.info-evento{
    margin-left: 20px;
}

.info-evento h2{
    font-size: 1.5em;
    color: #a4a4a4;
    margin-bottom: 10px;
}

.info-evento p{
    font-size: 1.25em;
    line-height: 1.4;
    color: #7c7c7c;
    margin-bottom: 10px;
}

.info-evento a{
    background: #F58B61;
    border-radius: 5px;
    color: #3C2B24;
    padding: 10px;
}

.info-evento span, a{
    display: inline-block;
    vertical-align: middle;
}

.evento1 img{
    border-radius: 5px;
    max-width: 50%;
}
   